ES_URL=http://localhost:9200
ES_INDEX=product_listings
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=product-catalog.product-listing-view-updated.v1
KAFKA_GROUP_ID=search-service
REDIS_ADDR=localhost:6379
PORT=8080